.header{
    display: flex;
    justify-content: space-between;
    
}

.logo{
    width:100px;
    height: 70px;
}

.header-menu{
    list-style: none;
    display: flex;
    gap: 20px;
    color:white;
}

.header-menu>li:hover{
    cursor: pointer;
    color: greenyellow;
    cursor: pointer;
}