.header {
    display: flex;
    flex-direction: column;
}

.logo {
    height: 70px;
}

.header-menu {
    list-style: none;
    display: flex;
    gap: 70px;
    color: white;
}

.header-menu>li:hover {
    cursor: pointer;
    color: rgb(96, 172, 96);
}

a{
    font-family: 'Montserrat', sans-serif;
}