.box {
    display: flex;
    justify-content: center;
    margin: 30px 30px;
    width: fit-content;
    height: fit-content;
    animation: weight-lift 10s ease 0s infinite alternate forwards;
    position: relative;
    >img{
        opacity: 0;
    }
  }
  
  @keyframes weight-lift {
    0% {
      transform: translateX(0);
      background-image: url(../../assets/images/weightlifting.png);
    }
    25% {
        opacity: 0.5;
    }
    40% {
        opacity: 0.1;
    }
    50%{
        background-image: url(../../assets/images/man-lifting-weight.png);
    }
    50%{
        opacity: 0.5;
    }
    100% {
      transform: translateX(1380px);
      background-image: url(../../assets/images/man-lifting-weight.png);
    }
  }
  
/* @keyframes boxx {

    0% {
        left: 0%;
    }
    50% {
        left: 85.5%;
        rotate: 360deg;
    }
    100% {
        left: 0%;
    }
    
} */
.Programs {
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: rgb(77, 74, 74);
    height: 725px;
}

.programs-header {
    border: 2px solid rgb(96, 172, 96);
    display: flex;
    gap: 100px;
    font-weight: bold;
    font-size: 50px;
    justify-content: center;
    color: black;
    text-transform: uppercase;
    font-style: italic;
    margin: 30px 50px;
}

.program-category {
    display: flex;
    gap: 10px;
    margin: 10px 50px;
    height: 300px;

    :hover {
        background-color: rgb(96, 172, 96);
        cursor: pointer;
    }
}

.category {
    display: flex;
    flex-direction: column;
    background-color: gray;
    padding: 40px;
    gap: 10px;
    color: white;
    justify-content: space-between;


}

.category>:nth-child(1) {
    width: 50px;
}

.category>:nth-child(2) {
    font-size: 18px;
    font-weight: bold;
}

.category>:nth-child(3) {
    font-size: 15px;
    line-height: 25px;
}

.join {
    display: flex;
    align-items: center;
    gap: 40px;

    >img {
        width: 20px;
    }
}